<nav>
    <ul class="menu">
        <li class="logo"><img src="/assets/image/QuizLogo1.jpg" height="45" width="50" alt="Quiz Logo">
        </li>
        <li>User
            <ul class="dropdown">
                <li>List User</li>
                <li>Create User</li>
            </ul>
        </li>
        <li>Question
            <ul class="dropdown">
                <li>List Question</li>
                <li>Create Question</li>
            </ul>
        </li>
        <li>Quiz
            <ul class="dropdown">
                <li>List Quiz</li>
                <li>Create Quiz</li>
            </ul>
        </li>
        <li>Quiz Attempted
            <ul class="dropdown">
                <li>List QuizAttempt</li>
                <li></li>
            </ul>
        </li>
        <li>LogOut
        </li>
    </ul>
</nav>