<nav>
    <ul class="menu">
        <li class="logo"><img src="/assets/image/QuizLogo1.jpg" height="45" width="50" alt="Quiz Logo">
        </li>
        <li>User
            <ul class="dropdown">
                <li routerLink="list-user">List User</li>
                <li routerLink="create-user">Create User</li>
            </ul>
        </li>
        <li>Question  
            <ul class="dropdown">
                <li routerLink="list-question">List Question</li>
                <li routerLink="add-question">Create Question</li>
            </ul>
        </li>
        <li>Quiz
            <ul class="dropdown">
                <li routerLink="list-quiz">List Quiz</li>
                <li routerLink="create-quiz">Create Quiz</li>
            </ul>
        </li>
        <li>Quiz Attempted
            <ul class="dropdown">
                <li routerLink="quiz-attempt">List QuizAttempt</li>
                <li></li>
            </ul>
        </li>
        <li>LogOut
        </li>
    </ul>
</nav>